# Data Science Tools and Ecosystem

## Introduction
In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:


- SQL
- PYTHON
- JAVA
- SPARK

### Some of the commonly used libraries used by Data Scientists include:


- NumPy
- Pandas
- Matplotlib
- Seaborn
- Scikit-Learn
- TensorFlow
- Keras
- PyTorch

### DATA SCIENCE TOOLS

| DATA SCIENCE TOOLS |
| ------- |
| Jupyter Notebook |
| Apache Spark |
| Knime |
| Git |
| Apache Hadoop |
| Google Colab |
| CassandraDB |
| MongoDB |
| PostgreSQL |
| MySQL |
| ORACLEDB |

### Below are a few examples of evaluating arithmetic expressions in Python.

Example operations:
- Addition: `3 + 5` → 8
- Subtraction: `10 - 4` → 6
- Multiplication: `6 * 7` → 42
- Division: `20 / 4` → 5.0
- Exponentiation: `2 ** 3` → 8

In [4]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [5]:
(200/60)
# This will convert 200 minutes to hours by diving by 60.

3.3333333333333335

**Objectives**

In this notebook, we will cover the following key points:

- List popular languages for Data Science.
- List popular used libraries for Data Science.
- Explaining with basic arithmetic operations examples.
- Convert time units, such as minutes to hours.

## Author

This notebook was created by BATIKAN OVA